html {
    background-color: rgb(22, 1, 15);
    color: white;
}
div.header {
    margin-top: 15px;
    display: flex;
    text-align: center;
}
img.header {
    margin-left: 30px;
}
span.header {
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
}
span#dev {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
ul.menu {
    justify-content: center;
    list-style: none;
    display: flex;
    text-align: center;
}
button.menu {
    background-color: blueviolet;
    border-color: rgb(93, 20, 161);
    color: white;
    padding: 15px;
    margin: 15px 0px;
    font-size: large;
}
button.menu:hover {
    background-color: rgb(163, 112, 211);
    border-color: rgb(163, 112, 211);
}
button#home {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
button#help {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
button#login {
    margin-left: 20px;
    border-radius: 20px;
}
div.news {
    font-size: large;
}
div.events {
    font-size: large;
}
h2 {
    margin-left: 30px;
}
span.news#GREEN {
    background-color: green;
}
span.news#RED {
    background-color: maroon;
}
span.news#GRAY {
    background-color:darkslategray;
}
footer {
    background-color: green;
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
}
span.bottom {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}